*{
margin:0;
padding:0;
box-sizing: border-box;
}

 .font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    color:#FFFFFF;
border:4px solid black;
}

nav .menu {
    display: flex;
    list-style-type: none;
    
    gap: 50px;
    
}

nav .menu a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    align-items: center;
    /* margin:0 24px; */
    
}

.btn {
    background-color: green;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.banner-continer{
    /* background-color:aqua; */
    padding: 0px 120px;
    text-align: center;
    

}
.banner-continer .top{
    background-color: white;
    width:250px;
    line-height: 35px;;
    border-radius: 20px;
    font-size:20px;
    font-weight: bold;
    color:darkgreen;
    margin:auto;
    margin-top:80px;
    margin-bottom:20px;
    align-items: center;

}
.banner-continer h1{
    font-size: 60px;
    font-weight: 900;
    color: white;
    line-height: 1.2;
    font-weight: bold;
}
.banner-continer .gren{
    color:green;
}
.banner-continer p{
    font-size: 20px;
    color:aliceblue;
    margin-top:20px;
    margin-bottom:35px;

}
.btn-second {
   
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left:10px;
}
.top-banner{
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-head{
    text-align: center;
    margin-top: 60px;
    line-height: 1.5;
    margin-bottom: 40px;

}
.cards-continer{
    
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5px 20px;
    border:4px solid black;
    text-align: center;
    
}
.cards-continer .card{
    border:3px solid black;
    padding:10px;
    gap: 30px;
}
cards-section{
    width:80%;
    max-width:1140px;
    margin:0 auto;

}