
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.head-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid blue;
    padding:15px 100px;
}
.head-list{
    display:flex;
    gap:40px;
    list-style-type:none;
    text-decoration:none;
}
.btn{
    background-color:green;
    border:none;
    border-radius:5px;
    color:white;
    font-size:15px;
    font-weight:bold;
    padding:10px 20px;
    cursor:pointer;
    margin:20px 10px 20px 0px;

}
.ankor{
    border:1px solid white;
    border-radius:5px;
    color:white;
    font-size:15px;
    font-weight:bold;
    padding:10px 20px;

    cursor:pointer;
    margin:20px 0px 20px 0px;
    text-decoration: none;
}
/* .btn-second{
    border:4px solid red;
    border-radius:5px;
    color:purple;
    font-size:15px;
    font-weight:bold;
    padding:10px 20px;
    cursor:pointer;
    margin:20px 0px 20px 5px;
    margin-left: 10px;
    
} */

.top-banner{
    border:4px solid green;
    background-image:url(../images/hero-bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.top-banner{
    text-align: center;
    padding:50px 120px;
    align-items: center;
    justify-content: center;
    
}
.banner-data{
    border:5px solid purple;
    width: 100%;
    max-width:1600px;
    min-height:400px;
    text-align: center;
    padding:20px 120px;
    align-items: center;
    justify-content: center;

}
.btn-first btn{
    margin-left:20px;
}
.section-h{
    padding-bottom:10px;
    color:white;
    font-size :70px;
}
.sp{
    color:green; 
    margin-top:100px;
    margin-bottom:40px;
} 
.banner-pg{
    background-color:aliceblue;
    
    border-radius:10px;
    align-items:center;
    line-height: 1.5;
    width:200px;
    margin: auto;
    margin-bottom:20px;
}
/* .banner-buttons{
    margin-top: 30px;
} */
.paragraph{
    width:80%;
    margin:auto;
    align-items: center;
    text-align: center;
    color:white;
}



.card-head{
    text-align: center;
    /* margin-top: 60px; */
    line-height: 1.5;
    margin-bottom: 40px;
    border:4px solid palevioletred;

}
.cards-continer{
    
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 20px;
    border:4px solid black;
    text-align: center;
    margin:5px 30px;
    
}
.cards-continer .card{
    /* border:3px solid greenyellow; */
    background-color: white;
    padding:40px 10px;
    gap: 30px;
    border-radius:5px;
}
.cards-section{
    background-color: rgb(242, 237, 238);
    width:100%;
    max-width:1600px;
    margin:0 auto;
}

.image{
    width:50px;
    height:50px;
    border-radius:100px;
    background-color:#F95555;
    margin: 0 auto;
    padding-top:10px;
  

}
.mid-part{
    justify-content: space-between;
    display:flex;
    margin:40px 40px;
    border:3px solid salmon;
    
    
}
.mid-1 img{
    margin: 20px;
    

    height:500px;
    width:500px;
}
.mid-2 {
    padding:50px 200px 40px 20px;
    margin-top:20px;
    align-items: center;
    /* background-color: aqua; */
}
#solution h3{
    margin-top:20px;
}
h1{
    padding:10px 0px 10px 0px;
}
.mid-2 p{
    margin: 10px 0px 20px 0px;
}
.last-mid{
    display: flex;
    line-height:2;
}
.last-part{
    border:3px solid purple;
    align-items: center;
    text-align: center;
    padding:30px 390px 30px 390px;
    margin:35px;
    background-color: beige;
    
}
.fotter{
    display: flex;
    justify-content: space-between;
    padding:50px 100px 15px 50px ;
     
}
.copyright{
    align-items: center;
    padding: 5px 0px 15px 0px;
    text-align: center;
   
}
hr{
    margin: 0px 40px 0px 60px;
}
.fotter-full{
    color:aliceblue;
background-color:#001931;
}
.links{
    display: flex;
    gap:16px;

}
.links img{
    background-color: azure;
    width:10px;
    height:10px;
}